<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <div th:fragment="sidebar">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>Welcome Back</h4>
                <span style="font-size: 25px;" th:text="${user.userName}"></span>
                <span style="font-size: 25px;" ></span> <!--th:text="${user.roleName}"-->
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/topic">Topic</a>
                </li>
                <li>
                    <a href="/subs">Subscription</a>
                </li>
                <li>
                    <a href="#serviceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Service</a>
                    <ul class="collapse list-unstyled" id="serviceSubmenu">
                        <li>
                            <a href="/awsService">Email service</a>
                        </li>
                        <li>
                            <a href="#">s2</a>
                        </li>
                        <li>
                            <a href="#">s3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

        </nav>
    </div>
</body>
</html>