<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{components/home}">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
    <script type="text/javascript">
        function toCreatTopicPage() {
            $.get(
                "/toCreateTopicPage", //url地址
                {},  //带给服务器的参数
                function(data){		//成功后的回调函数
                    //data 是服务器返回的参数
                    $('#id-main-content').html(data);
                }
            );
        }

        function selectCurrentRow(id) {
            $(".table-header-buttons .disabled").removeClass("disabled");
            /* remove all checked item */
            let selected = $(".table-row").hasClass("row-selected");
            if (selected) {
                $(".row-selected input").prop("checked", false);
                $(".row-selected").removeClass("row-selected");
            }
            /* add the clicked one */
            $("#"+id+" input").prop("checked", true);
            $("#"+id).addClass("row-selected");

            // add data to modal
            $(".modal-delete-tip").html("<p class='modal-delete-tip'>You really want to delete topic: " +
                $("#" + id + " .topic-name-cell").text() + "?</p>");

            // transmit id to deleteOneTopic function
            $(".topic-delete-modal .modal-footer button[onclick]").attr("onclick", "window.location.href='" + "/deleteOneTopic?id=" + id + "'");

            // transmit id to deleteOneTopic function
            $(".table-header-buttons a[onclick]").attr("onclick", "toEditTopicPage(" + id + ")");
        }
        //
        // function deleteOneTopic(id) {
        //     $.ajax({
        //         url: "/deleteOneTopic",
        //         async: true,
        //         type: "POST",
        //         data: {"id":id},
        //         success: function (data) {
        //             $('#id-main-content').html(data);
        //         }
        //     })
        // }

        function toEditTopicPage(id) {
            let oneTr = $("#" + id);
            let name = $(oneTr).find('td:eq(2)').text(),
                type = $(oneTr).find('td:eq(3)').text(),
                arn = $(oneTr).find('td:eq(4)').text();
            $.ajax({
                url: "/toEditTopicPage",
                async: true,
                type: "POST",
                data: {"topicName": name, "topicType": type, "topicArn": arn, "id": id},
                success: function (data) {
                    $('#id-main-content').html(data);
                }
            })
        }

    </script>
</head>
<body>
    <div layout:fragment="main-content">
        <div class="table-box">
            <div class="table-heading-container">
                <div class="table-header">
                    <div class="table-header-title">
                        <span class="title-font">
                            <span>Subscription</span>
                            (<span th:text="${subs.size()}"></span>)
                        </span>
                    </div>
                    <div class="table-header-buttons btn-white-font">
                        <a role="button" class="btn btn-primary disabled" id="topic-edit-button" onclick="toEditTopicPage()">Edit</a>
                        <a role="button" class="btn btn-primary disabled"  id="topic-delete-button" data-toggle="modal" data-target="#staticBackdrop">Delete</a>
                        <a role="button" class="btn btn-warning" onclick="toCreatTopicPage()">Create topic</a>
<!--                        <input type="button" class="btn btn-warning" value="Create topic" onclick="toCreateTopicPage()"/>-->
                    </div>
                </div>
                <div class="table-pagination">
                    This place is for pagination.
                </div>
            </div>
            <div class="table-content-container">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">NO.</th>
                            <th scope="col">Subscription id</th>
                            <th scope="col">Endpoint</th>
                            <th scope="col">Status</th>
                            <th scope="col">Protocol</th>
                            <th scope="col">Creation date</th>
                            <th scope="col">Topic</th>
                        </tr>
                        </thead>
                        <tbody th:remove="all-but-first">
                        <tr th:each="sub : ${subs}" class="table-row" th:id="${sub.id}">
                            <td><input type="checkbox" th:class="table-row-checkbox" th:onclick="'selectCurrentRow(' + ${sub.id} + ')'"/></td>
                            <td th:scope="row" th:text="${sub.id}">No</td>
                            <td th:text="${sub.subscriptionId}" class="topic-name-cell">Subscription id</td>
                            <td th:text="${sub.endpoint}">Endpoint</td>
                            <td th:text="${sub.status}">Status</td>
                            <td th:text="${sub.protocol}">Protocol</td>
                            <td th:text="${sub.creationDate}">Creation date</td>
                            <td th:text="${sub.topicId}">TopicID</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td scope="row">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"> </td>
                            <td scope="row">2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                            <td>@fat</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td scope="row">3</td>
                            <td>Larry the Bird</td>
                            <td>Larry the </td>
                            <td>Larry</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade topic-delete-modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="modal-delete-tip"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/deleteOneTopic'">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <br style="clear: both;"/>
        </div>
    </div>
</body>
</html>