<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{components/home}">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
    <div layout:fragment="main-content">
        <div class="table-box">
            <div class="table-heading-container">
                <div class="table-header">
                    <div class="table-header-title">
                        <span class="title-font">
                            <span>Topic</span>
                            (<span th:text="${topics.size()}"></span>)
                        </span>
                    </div>
                    <div class="table-header-buttons btn-white-font">
                        <a role="button" class="btn btn-primary disabled" id="topic-edit-button" onclick="toEditTopicPage()">Edit</a>
                        <a role="button" class="btn btn-primary disabled"  id="topic-delete-button" data-toggle="modal" data-target="#staticBackdrop">Delete</a>
                        <a role="button" class="btn btn-warning" onclick="toCreatTopicPage()">Create topic</a>
<!--                        <input type="button" class="btn btn-warning" value="Create topic" onclick="toCreateTopicPage()"/>-->
                    </div>
                </div>
                <div class="table-pagination">
                    This place is for pagination.
                </div>
            </div>
            <div class="table-content-container">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">NO.</th>
                            <th scope="col">Topic Name</th>
                            <th scope="col">Topic Type</th>
                            <th scope="col">Topic Arn</th>
                            <th scope="col">Creation Timestamp</th>
                        </tr>
                        </thead>
                        <tbody th:remove="all-but-first">
                        <tr th:each="topic : ${topics}" class="table-row" th:id="${topic.id}">
                            <td><input type="checkbox" th:class="table-row-checkbox" th:onclick="'addFunToTopicBtn(' + ${topic.id} + ')'"/></td>
                            <td th:scope="row" th:text="${topic.id}"></td>
                            <td th:text="${topic.topicName}" class="topic-name-cell">topic name</td>
                            <td th:text="${topic.topicType}">topic type</td>
                            <td th:text="${topic.topicArn}">topic arn</td>
                            <td th:text="${topic.timestamp}">timestamp</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td scope="row">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"> </td>
                            <td scope="row">2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td scope="row">3</td>
                            <td>Larry the Bird</td>
                            <td>Larry the </td>
                            <td>Larry</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade topic-delete-modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="modal-delete-tip"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/deleteOneTopic'">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <br style="clear: both;"/>
        </div>
    </div>
</body>
</html>