<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Sign Up page</title>
    <link rel="stylesheet" href="css/all.css">
</head>
<body>
<h1>Sign Up: Setup and verify Two-Step Authentication</h1>
<div>Open or scan the following link with your Authenticator app</div>
<img th:src="@{'https://chart.googleapis.com/chart?cht=qr&chl=' + ${secret} + '&chs=160x160&chld=L|0'}" />
<div>Enter the 6-digit code from your authenticator app into the code field</div>
<form method="post" action="/signup-confirm-secret">
    <div>
        <label>Code:</label>
        <input type="text" name="code" placeholder="input 6 digits here"/>
        <span th:text="${alert}" class="reminder"></span>
    </div>
    <div>
        <input type="hidden" th:value="${username}" name="username">
        <input type="submit" value="Verify"/>
    </div>
</form>
</body>
</html>
