<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up page</title>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.css">
        <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body class="body-signin">
        <div class="container">
            <form class="form-signin" id="signupForm" method="post" action="/signup">
                <h2 class="form-signin-heading">Please sign up</h2>
                <input type="text" class="input-block-level" placeholder="Username" name="username"><br>
                <input type="password" class="input-block-level" placeholder="Password" name="password" id="password"><br>
                <input type="password" class="input-block-level" placeholder="Comfirm Password" name="comfirm_password"><br>
                <input type="text" class="input-block-level" placeholder="Role name" name="role_name"><br>
                <textarea type="text" class="input-block-level" placeholder="Self introduction" name="detail" rows="8" cols="28"></textarea><br>
                <input type="checkbox"  name="totp" class="checkBox" id="checkbox"/>
                <input type="hidden" name="totp" value="false">
                <label for="checkbox">Turn on two-factor authentication</label><br>
                <div>
                    <input type="submit" value="Sign up"/>
                </div>
            </form>
        </div>
    </body>
    <script src="/webjars/jquery-validation/1.19.0/dist/jquery.validate.min.js"></script>
    <script src="/webjars/jquery-validation/1.19.0/dist/additional-methods.min.js"></script>
    <script>
        $().ready(function() {
            /* detected by attribute -- name, in html*/
            $("#signupForm").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 6,
                        maxlength: 30
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 20
                    },
                    comfirm_password: {
                        required: true,
                        minlength: 8,
                        maxlength: 20,
                        equalTo: "#password"
                    },
                    role_name: {
                        required: true
                    },
                    detail: {
                        required: true,
                        minlength: 20
                    }
                },
                messages: {
                    username: {
                        required: "Please input username",
                        minlength: "Username requires at least 6 characters"
                    },
                    password: {
                        required: "Please input your password",
                        minlength: "Password can't be less than 8 characters"
                    },
                    confirm_password: {
                        required: "Please input your password",
                        minlength: "Password can't be less than 8 characters",
                        equalTo: "Password must be same as previous one"
                    },
                    role_name: "Please input your role name",
                    detail: {
                        required: "Please input your self introduction",
                        minlength: "Tell us more about yourself"
                    }
                }
            });
        });
    </script>
</html>