<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up page</title>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.css">
        <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body class="body-signin">
        <div class="container">
            <form class="form-signin" id="signupForm" method="post" action="/signup">
                <h2 class="form-signin-heading">Please sign up</h2>
                <input type="text" class="input-block-level" placeholder="Username" name="username"><br>
                <input type="password" class="input-block-level" placeholder="Password" name="password" id="password"><br>
                <input type="password" class="input-block-level" placeholder="Comfirm Password" name="comfirm_password"><br>
                <input type="text" class="input-block-level" placeholder="Role name" name="role_name"><br>
                <textarea type="text" class="input-block-level" placeholder="Self introduction" name="detail" rows="8" cols="28"></textarea><br>
                <input type="checkbox"  name="totp" class="checkBox" id="checkbox"/>
                <input type="hidden" name="totp" value="false">
                <label for="checkbox">Turn on two-factor authentication</label><br>
                <div>
                    <input type="submit" value="Sign up"/>
                </div>
            </form>
        </div>
    </body>
    <script src="/webjars/jquery-validation/1.19.0/dist/jquery.validate.min.js"></script>
    <script src="/webjars/jquery-validation/1.19.0/dist/additional-methods.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const passDic = {
            "minLen": /*[[${minLen}]]*/ 8,
            "minUppercaseNum": /*[[${minUppercaseNum}]]*/ 1,
            "minLowercaseNum": /*[[${minLowercaseNum}]]*/ 1,
            "minSpecialCharNum": /*[[${minSpecialCharNum}]]*/ 1,
            "minDigitNum": /*[[${minDigitNum}]]*/ 1
        }
        $().ready(function() {
            /* detected by attribute -- name, in html*/
            $("#signupForm").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 6,
                        maxlength: 30
                    },
                    password: {
                        required: true,
                        minlength: passDic["minLen"],
                        maxlength: 20,
                        minUppercaseNum: true,
                        minLowercaseNum: true,
                        minDigitNum: true,
                        minSpecialCharNum: true
                    },
                    comfirm_password: {
                        required: true,
                        equalTo: "#password"
                    },
                    role_name: {
                        required: true
                    },
                    detail: {
                        required: true,
                        minlength: 20
                    }
                },
                messages: {
                    username: {
                        required: "Please input username",
                        minlength: "Username requires at least 6 characters"
                    },
                    password: {
                        required: "Please input your password",
                        minlength: "Password can't be less than " + passDic["minLen"] + " characters"
                    },
                    confirm_password: {
                        required: "Please input your password",
                        equalTo: "Password must be same as previous one"
                    },
                    role_name: "Please input your role name",
                    detail: {
                        required: "Please input your self introduction",
                        minlength: "Tell us more about yourself"
                    }
                }
            });
        });

        function checkPassword(value, regex, length) {
            let newValue = value.replace(regex, "");
            return value.length - newValue.length >= length
        }

        $.validator.addMethod("minDigitNum", function(value, element) {
            const regex = /[0-9]/g;
            return this.optional(element) || (checkPassword(value, regex, passDic["minDigitNum"]));
        }, "Must contain at least " + passDic["minDigitNum"] + " digit.");

        $.validator.addMethod("minUppercaseNum", function(value, element) {
            const regex = /[A-Z]/g;
            return this.optional(element) || (checkPassword(value, regex, passDic["minUppercaseNum"]));
        }, "Must contain at least one " + passDic["minUppercaseNum"] + " uppercase character.");

        $.validator.addMethod("minLowercaseNum", function(value, element) {
            const regex = /[a-z]/g;
            return this.optional(element) || (checkPassword(value, regex, passDic["minLowercaseNum"]));
        }, "Must contain at least " + passDic["minLowercaseNum"] + " lowercase character.");

        $.validator.addMethod("minSpecialCharNum", function(value, element) {
            const regex = /[^a-zA-Z0-9\s]/g;
            return this.optional(element) || (checkPassword(value, regex, passDic["minSpecialCharNum"]));
        }, "Must contain at least " + passDic["minSpecialCharNum"] + " special character.");
        /*]]>*/
    </script>
</html>