.table-box {
    padding: 15px 20px;
    background: #fff;
    border: 1px grey solid ;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.table-header {
    height: 40px;
}

.table-header-title {
    float: left;
}

.table-header-buttons {
    float: right;
}

.title-font {
    font-size: 25px;
}

