<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AWS email service</title>
    <link rel="stylesheet" href="css/all.css">
</head>
<body>
<div>
    <h3>Create topic:</h3>
    <form action="/createTopic" method="post">
        <label>Topic name: </label>
        <input type="text" placeholder="topic name" name="topic_name">
        <input type="submit" value="submit"/><br>
        <span th:text="${add_topic_reminder}" class="reminder"></span>
    </form>

    <h3>Delete topic:</h3>
    <form action="/deleteTopic" method="post">
        <label>Topic arn: </label>
        <input type="text" placeholder="arn name" name="topic_arn">
        <input type="submit" value="submit"/><br>
        <span th:text="${delete_topic_reminder}" class="reminder"></span>
    </form>

    <h3>Add a subscriber:</h3>
    <form action="/addSubscribers" method="post">
        <label>ARN: </label>
        <input type="text" placeholder="ARN" name="arn" value="arn:aws:sns:ap-southeast-1:291453206275:topic-name-test">
        <label>Email: </label>
        <input type="text" placeholder="Email" name="email_address">
        <input type="submit" value="submit"/><br>
        <span th:text="${add_subscriber_reminder}" class="reminder"></span>
    </form>

    <h3>Remover a subscriber:</h3>
    <form action="/removeSubscriber" method="post">
        <label>ARN: </label>
        <input type="text" placeholder="ARN" name="arn" value="arn:aws:sns:ap-southeast-1:291453206275:topic-name-test:">
        <input type="submit" value="submit"/><br>
        <span th:text="${unsub_endpoint_reminder}" class="reminder"></span>
    </form>

    <h3>Send an email:</h3>
    <form action="/sendEmail" method="post">
        <label>ARN: </label>
        <input type="text" placeholder="ARN" name="arn" value="arn:aws:sns:ap-southeast-1:291453206275:topic-name-test">
        <label>Subject: </label>
        <input type="text" placeholder="Subject" name="subject"><br>
        <label>Content: </label>
        <textarea rows="5" cols="60" name="content" placeholder="Put your email content here..."></textarea>
        <input type="submit" value="send"/><br>
        <span th:text="${send_email_reminder}" class="reminder"></span>
    </form>
</div>
</body>
</html>