<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="all.css">
</head>
<body>
<div>
    <span style="font-size: 40px;">Welcome back, </span><span style="font-size: 40px;" th:text="${username}"></span>
    <form th:action="@{/signout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <div>
        You are a <span th:text="${role_name}">role</span>. <br><br><b>Here is your self-introduction:</b>
        <div th:text="${detail}" style="background-color: aliceblue">self introduction</div>
    </div>
    <a href="aws-email.html">AWS email test</a>
</div>
</body>
</html>