<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in page</title>
    <link rel="stylesheet" href="all.css">
</head>
<body>
<h1>Sign In</h1>
<form method="post" action="/signin">
    <div>
        <label>Your email</label><br>
        <input type="text" placeholder="Username" name="username"/>
    </div>
    <div>
        <label>Password</label><br>
        <input type="Password" placeholder="Password" name="password"/>
    </div>
    <span th:text="${reminder}" class="reminder"></span>
    <span th:text="${noAuth}" class="reminder"></span>
    <div>
        <input type="submit" onclick="" value="Sign in"/>
        <input type="button" onclick="window.location='signup.html'" value="Sign up"/>
    </div>
</form>
</body>
</html>