<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up page</title>
        <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.css">
        <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body class="body-signin">
        <div class="container">
            <form class="form-signin" method="post" action="/signup">
                <h2 class="form-signin-heading">Please sign up</h2>
                <input type="text" class="input-block-level" placeholder="Username" name="username"><br>
                <span th:text="${status}" class="reminder"></span>
                <input type="password" class="input-block-level" placeholder="Password" name="password"><br>
                <span th:text="${password}" class="reminder"></span>
                <input type="text" class="input-block-level" placeholder="Role name" name="role_name"><br>
                <textarea type="text" class="input-block-level" placeholder="Self introduction" name="detail" rows="8" cols="28"></textarea><br>
                <input type="checkbox"  name="totp" class="checkBox" id="checkbox"/>
                <input type="hidden" name="totp" value="false">
                <label for="checkbox">Turn on two-factor authentication</label><br>
                <div>
                    <input type="submit" value="Sign up"/>
                </div>
            </form>
        </div>
    </body>
</html>